<div class="main">
  <h3><p class="text-dark">Bezirke <%= @district.name %></p></h3>

  <p><%= link_to 'Neuen Kunden erstellen', new_district_customer_path, class: "btn btn-outline-secondary" %></p>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Adresse</th>
        <th>Zust.Bes.</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.address %></td>
          <td><%= customer.delivery_note %></td>
          <td><%= customer.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>