<div class="main">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/districts">Bezirke</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/newspapers">Zeitungen</a>
    </li>
  </ul>
  <br>

  <table>
    <tr>
      <td><h4><p class="text-dark">Kunden des Bezirkes <%= @district.name %></p></h4></td>
      <td class="button_new"><p><%= link_to 'Neuen Kunden erstellen', new_district_customer_path, class: "btn btn-outline-secondary" %></p></td>
    </tr>
  </table>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th class="text-center">№</th>
        <th>Adresse</th>
        <th>Zust.Bes.</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @customers.each do |customer| %>
        <% i += 1 %>
        <tr>
          <td class="text-center"><%= i %></td>
          <td><%= customer.address %></td>
          <td><%= customer.delivery_note %></td>
          <td><%= customer.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>