<div class="main">
  <h3><p class="text-dark">Bezirke <%= @district.name %></p></h3>

  <p><%= link_to 'Neues Abonnement erstellen', new_district_subscription_path, class: "btn btn-outline-secondary" %></p>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>№</th>
        <th>Adresse</th>
        <th>Zust.Bes.</th>
        <th>Name</th>
        <th>PVA</th>
        <th colspan="6">Tage</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @subscriptions.each do |subscription| %>
        <% subscription.is_active ? status = "enabled" : status = "disabled" %>
        <tr>
          <td class="<%= status %>"><%= subscription.order_index/2 %></td>
          <td class="<%= status %>"><%= subscription.customer.address %></td>
          <td class="<%= status %>"><%= subscription.customer.delivery_note %></td>
          <td class="<%= status %>"><%= subscription.customer.name %></td>
          <td class="<%= status %>"><%= subscription.newspaper.name %></td>
          <td class="day <%= "day-true" if subscription.is_monday %> <%= status %>">MO</td>
          <td class="day <%= "day-true" if subscription.is_tuesday %> <%= status %>">DI</td>
          <td class="day <%= "day-true" if subscription.is_wednesday %> <%= status %>">MI</td>
          <td class="day <%= "day-true" if subscription.is_thursday %> <%= status %>">DO</td>
          <td class="day <%= "day-true" if subscription.is_friday %> <%= status %>">FR</td>
          <td class="day <%= "day-true" if subscription.is_saturday %> <%= status %>">SA</td>
          <td>
            <%= link_to subscription_path(subscription), method: :delete, data: { confirm: "Dieses Abonnement löschen?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
          <td>
            <%= link_to change_status_subscription_path(subscription), method: :change_status do %>
              <% if subscription.is_active %>
                <i class="fas fa-toggle-on"></i>
              <% else %>
                <i class="fas fa-toggle-off"></i>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to order_up_subscription_path(subscription), method: :order_up do %>
              <i class="fas fa-arrow-up"></i>
            <% end %>
          </td>
          <td>
            <%= link_to order_down_subscription_path(subscription), method: :order_down do %>
              <i class="fas fa-arrow-down"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>