<div class="main">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/districts">Bezirke</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/newspapers">Zeitungen</a>
    </li>
  </ul>
  <br>
  
  <table>
    <tr>
      <td><h4><p class="text-dark">Bezirke <%= @district.name %></p></h4></td>
      <td class="button_new"><p><%= link_to 'Neues Abonnement erstellen', new_district_subscription_path, class: "btn btn-outline-secondary" %></p></td>
    </tr>
  </table>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th></th>
        <th>№</th>
        <th>Adresse</th>
        <th>Name</th>
        <th>PVA</th>
        <th class="text-center">Tage</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @subscriptions.each do |subscription| %>
        <% subscription.is_active ? status = "enabled" : status = "disabled" %>

        <% subscription.is_monday ? days_array = ["MO"] : days_array = [] %>
        <% days_array << "DI" if subscription.is_tuesday %>
        <% days_array << "MI" if subscription.is_wednesday %>
        <% days_array << "DO" if subscription.is_thursday %>
        <% days_array << "FR" if subscription.is_friday %>
        <% days_array << "SA" if subscription.is_saturday %>
        <% days_print = days_array.join(', ') %>
        <% days_style = "donnerstag" if days_print == "DO" %>
        <% days_style = "wochenende" if days_print == "FR" || days_print == "SA" || days_print == "FR, SA" %>
        <% days_print = "FR-SA" if days_print == "FR, SA" %>
        <% days_print = "MO-FR" if days_print == "MO, DI, MI, DO, FR" %>
        <% days_print = "Täglich" if days_array.length == 6 %>

        <tr class="align-middle">
          <td class="text-center align-middle">
            <%= link_to order_up_subscription_path(subscription), method: :post do %>
              <i class="fas fa-arrow-up"></i>
            <% end %>
            <br>
            <%= link_to order_down_subscription_path(subscription), method: :post do %>
              <i class="fas fa-arrow-down"></i>
            <% end %>
          </td>
          <td class="<%= status %> align-middle"><%= subscription.order_index/2 %></td>
          <td class="<%= status %> align-middle"><%= subscription.customer.address %><br><%= subscription.customer.delivery_note %></td>
          <td class="<%= status %> align-middle"><%= subscription.customer.name %></td>
          <td class="<%= status %> align-middle"><%= subscription.newspaper.name %></td>
          <td class="<%= status %> <%= days_style %> text-center align-middle"><%= days_print %></td>
          <td class="text-center align-middle">
            <%= link_to change_status_subscription_path(subscription), method: :post do %>
              <% if subscription.is_active %>
                <i class="fas fa-toggle-on"></i>
              <% else %>
                <i class="fas fa-toggle-off"></i>
              <% end %>
            <% end %>
            &nbsp;&nbsp;
            <%= link_to subscription_path(subscription), method: :delete, data: { confirm: "Dieses Abonnement löschen?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>